.container {
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
}

.badge-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  gap: 16px;
}
